@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: rgba(144, 182, 188, 1);
  --dark-color: rgba(27, 27, 27, 1);
  --comp-color: rgba(138, 215, 168, 1);
  --light-color: rgba(229, 229, 229, 1);
  --landing-bg: rgba(229, 229, 229, 1);
  --settings-bg: rgba(229, 229, 229, 0.8);
  --toggleOn-color: rgba(148, 255, 166, 1);
  --toggleOff-color: rgba(255, 148, 148, 1);
  --gradient-color: linear-gradient(147.74deg, #91b6bc 9.26%, #86eb9c 100.48%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  padding: 10vh 0 0 0;
  height: 90vh;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.85rem;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
  font-weight: 400;
}

h4 {
  font-size: 1.0625rem;
  font-weight: 400;
  @media screen and (min-width: 768px) {
    font-size: 1.375rem;
  }
}

h5 {
  // Headline
  font-size: 1.0625rem;
  font-weight: 600;
}

p {
  font-size: 1.0625rem;
  font-weight: 400;
}

cite {
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 1rem;
}

.dark-btn {
  color: var(--light-color);
  background-color: var(--dark-color);
}

.light-btn {
  color: var(--dark-color);
  background-color: var(--light-color);
}

.gradient-btn {
  color: var(--dark-color);
  background: var(--gradient-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 60px;
  margin: 0.5rem;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  @media screen and (min-width: 768px) {
    height: 80px;
    width: 300px;
  }

  &:hover {
    opacity: 90%;
    transform: scale(1.1);
  }
}

.slides {
  text-align: center;
  margin: 0 0 1rem 0;

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 110%;
  }

  .instruct {
    background-color: rgba(229, 229, 229, 0.75);
    border-radius: 8px;
    height: 160px;
    width: 100%;
    color: var(--dark-color);
    text-align: center;
    padding: 1rem;
    @media screen and (max-width:768px) {
      height: 120px;
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 100%;
      width: 100%;
      margin: auto;
      font-size: 1rem;
      @media screen and (max-width:768px) {
        font-size: .8rem;
      }
    }
  }
}

.slick-list {
  max-width: 300px;
}

.slick-dots {
  max-width: 300px;
}

.switch-btn {
  display: inline-block;
  border: none;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  background: var(--light-color);
  color: var(--dark-color);
  font-family: sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  margin: 1.5rem 0 0 0;

  .icon {
    margin: 0 0 0 12px;
  }

  &:hover {
    background: var(--dark-color);
    color: var(--light-color);
  }
}